DATABASE_CLIENT=mysql
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_NAME=magnus_cms
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
ADMIN_JWT_SECRET=change-me
APP_KEYS=change-me,change-me-2
API_TOKEN_SALT=change-me
